.cardWrapper {
  display: flex;
  justify-content: space-between;
  column-gap: 24px;
  align-items: center;
  border: 1px solid #a1acb9;
  border-radius: 4px;
  padding: 24px 44px;
}

.info {
  max-width: 440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.status {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  text-transform: lowercase;
}

.editIcon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  cursor: pointer;
}
